spring:
  application:
    name: Sweet-Shop-Management-System

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    
server:
  port: ${PORT:8080}

jwt:
  secret: ${JWT_SECRET}
